registry = https://registry.npmjs.com
//73555000100200018064.npmsrv.cdn.repositories.cloud.sap/:_auth=${SAP_NPM_AUTH}
@sap-rfc:registry=https://73554900100900009091.npmsrv.repositories.cloud.sap
//73554900100900009091.npmsrv.repositories.cloud.sap/:_auth=${SAP_NPM_AUTH}